/* Table des matière (les parties changé) */
/* -Général
/* -Aside
/* --Module de recherche 
/* --RADIO Checkbox filter
/* --Custom checkbox
/* -Label icon marqueur
/* -Modele Pin Cluster
/* -Modal marker
/* --Bouton fermer 
/* -Systeme d'onglet
/* -Onglet  Partie liste
/*
/* ---Responsive
/* ---Keyframes
/*---*/

  /* Général */
  :root{
    --divInfo-left:0px;
    --label-translate:-15px;
    --openResposive-translate-height:5%;
    --openResposive-translate-width:5%;
  }
  body {
      padding: 0;
      margin: 0;
  }
  @font-face {
    font-family: myCustomeFont;
    src: url(icomoon.woff);
  }
  
  span, label {
      color: white;
      font-family: sans-serif;       
  }
  
  #datamaps {
      position: fixed !important;
      top: 0;
      bottom: 0;
      float: right;
      right: 0;
      width: 100%;
  }
  /* Aside */ 
  aside {
    /* float: left; */
    background: linear-gradient(0, #fff, #fff);
    height: auto;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    top: auto;
    margin: 0;
    padding: 0px;
    padding-bottom: 5vh;
    position: fixed;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: scroll;
    transform: translate(0,100%);
    transition: all ease 1s;
    opacity: 0;
    -webkit-animation: appearMenu 0.5s 1.5s ease-in-out forwards;
    animation: appearMenu 0.5s 1.5s ease-in-out forwards;
  }
  #mainAside.searchLeft{
    width: 33%;
    top: 0;
    left: 0;
  }
  #mainAside.searchRight{
    width: 33%;
    top: 0;
    right: 0;
  }
  .title-radio{
      font-weight: bold;
      font-size: 1.2rem;
      font-family: 'roboto',sans-serif;
      font-weight: normal;
  }
  aside p,aside span,aside label{
    transition: all ease 200ms;
  }
  #openResponsive{
    z-index: 50;
    position: absolute;
    bottom: 5%;
    left: 50%;
    display: none;
    transition: all ease 1s;
    transform: translate(-50%, 0px);
    text-align: center;
    opacity: 0;
    -webkit-animation: appearMenu 0.25s 1.5s ease-in-out forwards;
    animation: appearMenu 0.25s 1.5s ease-in-out forwards;
  }
  #openResponsive #fleche{
    width: 15px;
    height: 15px;
    transform: rotate(-45deg);
    border-top:5px solid #000;
    border-right:5px solid #000;
    margin: auto;
    transition: all ease 0.5s;
  }

  @keyframes appearMenu {
    100% {
        opacity: 1;
    }
}

  /* Bottom */
  aside.asideShow{
    transform: translate(0,0%)
  }
  aside.searchBottom.asideHidden{
    transform: translate(0,100%);
  }
  aside.searchLeft.asideHidden{
    transform: translate(-100%,0%);
  }
  aside.searchRight.asideHidden{
    transform: translate(100%,0%);
  }
  aside.asideDisable{
    display: none;
  }
  #openResponsive.asideHidden.searchBottom{
    bottom:var(--openResposive-translate-height);
    left: 50%;
  }
  #openResponsive.asideShow.searchBottom{
    bottom:var(--openResposive-translate-height);
    left: 50%;
  }
  #openResponsive.asideHidden.searchBottom #fleche{
    transform: rotate(-225deg);
  }
  #openResponsive.asideShow.searchBottom #fleche{
    transform: rotate(-45deg);
  }
  /* Right */
  #openResponsive.asideShow.searchRight{
    bottom: 50%;
    right: var(--openResposive-translate-width);
    left:unset;
  }
  #openResponsive.asideHidden.searchRight{
    bottom: 50%;
    right: var(--openResposive-translate-width);
    left:unset;
  }
  #openResponsive.searchRight #fleche{
    transform: rotate(-135deg);
  }
  #openResponsive.asideHidden.searchRight #fleche{
    transform: rotate(45deg);
  }
  /* Left */
  #openResponsive.asideShow.searchLeft{
    bottom: 50%;
    left: var(--openResposive-translate-width);
    right:unset;
  }
  #openResponsive.asideHidden.searchLeft{
    bottom: 50%;
    left: var(--openResposive-translate-width);
    right:unset;
  }
  #openResponsive.searchLeft #fleche{
    transform: rotate(45deg);
  }
  #openResponsive.asideHidden.searchLeft #fleche{
    transform: rotate(-135deg);
  }
  #openResponsive{
    display: block;
  }
  #openResponsive.asideDisable{
    display: none;
  }

  /* Module de recherche */
  #addressInput {
    width: 50%;
    margin: 0px;
    padding: 15px;
    border-radius: 10px;
  }
  #searchButton {
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-left: 2px;
    background-color: #47628c;
    color: white; 
  }
  .result-find {
    display: block;
    color: white;
    margin: 20px;
    width: 200px;
  }
  .result-title {
    display: block;
    color: white;
    margin: 20px;
    width: 200px;
    font-size: 18px;
  }
  #mainAside>.contenu_onglet>.title-radio{
    font-size: 1rem;
    margin-top: 1vh;
    padding-left: 15px;
    margin-bottom: 1vh;
    text-align: center;
  }
  
  /* RADIO Checkbox filter */
  .checkbox-txt {
    padding: 10px;
    vertical-align: super;
    font-size: 0.8rem;
    font-family: 'roboto',sans-serif;
    font-weight: lighter;
    line-height: 0.5;
    color: #000;
  }
  /* Custom checkbox */
  .choix_epoque{
    padding: 0px 8px;
    text-align: center;
  }
  .input_container {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .input_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: solid 1px #000;
    border-radius: 3px;
    transition: all ease 0.5s;
  }
  .input_container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .input_container input:checked ~ .checkmark {
    background-color: #2196F3;
    border-radius: 50%;
    border:none;
  }
  .input_container input:checked ~ .checkmark,.input_container input:checked ~ .checkbox-txt {
    transition-duration: 0.5s;
    transition-property: all;
    margin-top: -5px;
  }
  .input_container input:checked ~ .checkbox-txt {
    border-radius: 10px;
    font-weight: 500;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .input_container input:checked ~ .checkmark:after {
    display: block;
  }
  .input_container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 3px;
    height: 5px;
    border: solid white;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* Label icon marqueur */
  #datamaps>div>.gm-style>div>div>div:nth-of-type(4)>div>div>div>div{
    transform: translate(-0.5px,  var(--label-translate));
    animation: labelApparait 550ms ease;
  }
  /* Modele Pin Cluster */
  .custom-clustericon-1 {
    --cluster-color: #00a2d3;
  }
  .custom-clustericon-2 {
    --cluster-color: #ff9b00;
  }
  
  .custom-clustericon-3 {
    --cluster-color: #ff6969;
  }
  .custom-clustericon {
    background: var(--cluster-color);
    color: #fff;
    border-radius: 100%;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
  }
  .custom-clustericon::before,
  .custom-clustericon::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: var(--cluster-color);
    opacity: 0.2;
    border-radius: 100%;
  }
  .custom-clustericon::before {
    padding: 7px;
  }
  .custom-clustericon::after {
    padding: 14px;
  }
  /* Modal marker */
  #divInfo{
    display: none;
    z-index: -1;
    height: auto;
    background: #ffffffd4;
    position: absolute;
    top: 0px;
    transition: all 0.5s ease;
    opacity: 0;
    border-left: solid 2px #000;
    border-radius: 0 0 15px 17px;
  }
  .info_modale{
    color: #000!important;
    width: 400px;
    height: fit-content;
    max-height: 700px;
  }
  .info_modale .content_modale {
      padding: 15px;
      padding-bottom: 35px;
  }
  .info_modale *{
    font-family: 'Roboto', sans-serif;
  }
  .info_modale p{
      padding-left: 5px;
      font-size: 0.9rem;
      font-weight: normal;
      margin:0px;
  }
  .info_modale .header_modale {
    min-height: 80px;
    border-bottom: solid 1px #c1c1c1;
    background-position: 5% 95%;
    text-align: center;
    position: relative;
  }
  .info_modale .header_modale>p{
    padding: 8%;
    margin:0px; 
    font-weight: bold;
    font-size: 1.5rem;
    color: #000!important;
  }
  .info_modale .subTitle{
    margin-top: 8px!important;
    font-size: 0.95rem;
    color: #6ea8ac;
    font-weight: bold;
  }
  .info_modale img.img-block{
    height: 150px;
    width: 100%;
    border-radius: 5px;
    margin: 25px 0px 0px 0%;
    object-fit: cover;
  }
  .info_modale .desc-block{
    margin:10px 0!important;
    max-height: 100px;
    overflow: auto; 
  } 
  .info_modale .footer_modale{
    background: linear-gradient(#131313 0%, rgb(0 0 0 / 0.85) 4%, #000000bd 100%);;
    color:#fff;
    border-radius: 0 0 15px 15px;
    padding: 10px 25px 25px 40px;
  }
  .info_modale .footer_modale.v2{
  border-top: 1px solid #949494;
  background-color: none;
  color: #333333;
  font-weight: 500;
  border-radius: 0 0 15px 15px;
  padding: 0px 25px 25px 25px;
  }
  .info_modale .footer_modale>h3,
  .info_modale .content_modale>h3{
    color: #6ea8ac!important;
    margin: 0px;
    transform: rotate(-90deg)translate(-25px, -50px);
    width: fit-content!important;
    position: absolute;
  }
  .info_modale .content_modale>hr{
    width: 15%;
    border:none;
    border-top: 1px solid #595959;
    margin-bottom: 0px;
  }
  .info_modale .subTitle{
    display: inline-block;
    color:#6ea8ac;
    padding-right: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 5px 0px;
  }
  .info_modale  .subTitle.smallSub{
    display: inline-block!important;
    width: fit-content!important;
  }
  .info_modale  .smallSub.subContent{
    padding-left: 2px;
    display: inline!important;
    width: fit-content!important;
  }
  /* Bouton fermer */ 
  #divInfo_closeBtn{
    position: relative;
    top: 20px;
    left: 0px;
    z-index: 1;
  }   
  #divInfo_closeBtn::after,#divInfo_closeBtn::before{
    content: "";
    display: block;
    width: 35px;
    height: 4px;
    background-color: #000;
    border-radius: 3px;
    transition: transform 0.15s ease;
    position: absolute;
    top: 0;
    z-index:-1;
  }
  #divInfo_closeBtn::before{
    transform: rotate(45deg);
  }
  #divInfo_closeBtn::after{
    transform: rotate(-45deg);
  }
  /* Systeme d'onglet 
  .onglet{
    display: inline-block;
    padding: 1% 0%;
    background: #7b7b7b73;
    border: none;
    margin: 0px -2px!important;
    font-size: 1.5rem;
    cursor: pointer;
    width: 50%;
    text-align: center;
    transition: all ease 0.2s;
    border-right: 2px solid black;   
    font-weight: lighter!important;
    font-family: roboto,'sans-serif'; 
  }
  .onglet:last-of-type{
    border:none;
  }
  span.onglet:hover{
    color:#adbdb8;
  }
  .contenu_onglet{
    margin-top:10px;
    padding:15px;
    /*display:none;
    color:#000;
    font-family: roboto,'sans-serif'; 
  }
  ul{
    margin-top:0px;
    margin-bottom:0px;
    margin-left:-10px
  }
  h1{
    margin:0px;
    padding:0px;
  }
  .contenu_onglet h3{
    font-weight: normal!important;
    font-family: 'roboto',sans-serif; 
  }
  .onglets .onglet_1{
    background-color: #7b7b7b;
  }
  /* Onglet  Partie liste  */
  aside::-webkit-scrollbar {
    width: 8px!important;
  }
  aside::-webkit-scrollbar-thumb {
    background: #b1b1b1;
    border-radius: 10px;
  }
  aside::-webkit-scrollbar-track {
    background: rgba(0,0,0,0)!important;
  }
  aside .contenu_onglet #resetFiltre,aside #dlbutton{
    background: #47628c;
    color: #fff;
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 3px;
    font-family: roboto;
    transition: all ease 0.5s;
    display: inline-block;
    margin: 0 50%;
    transform: translate(-50%, 0px);
    font-size: 0.7rem;
    position: absolute;
    bottom: 10%;
  }
  
  /* Responsive */
  @media (max-width: 768px){

    aside .secteur_activite,aside .type_structure,aside .territoire {
      width: 49%;   
      max-width: 100%;
      display: inline-block;
      vertical-align: top; 
    } 
    aside .secteur_activite{
      float: left;
    }
    .info_modale{
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;
      height: 75vh;
    }
    .info_modale{
      width: auto;
    }
    #divInfo{
      top: 15px;
    }
  }
  /* Keyframes */
  @keyframes labelApparait{
    0%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 1;}
   }
  @keyframes filtreButton{
    0%{
      bottom:5%;
    }
    100%{
      bottom:75%;
    }
  } 