/* interface volant non identifié (Blague de seb)*/
div.page_volante {
  position: absolute;
  top: -15px;
  left: -35px;
  background-color: #0f1820d6;
  border-radius: 5px;
  padding: 2% 25%;
  width: 100%;
  transition-delay: 0.2s;
  transition-duration: 0.7s;
}
div.fixed_bouton {
  position: fixed;
  right: 75px;
  top: 75px;
}
img {
  height: 70px;
  width: 100px;
  border-radius: 5px;
  border: none;
  background-size: cover;
}

/* Content */
p.title_page {
  font-size: 15px !important;
}
body {
  background-color: #273744 !important;
}
/* Tableau Gestion des marqueurs */
table.blueTable {
  background-color: #273744;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid #16a085;
}
table.blueTable td, table.blueTable th {
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 12px;
  border-left: 1px dashed #16a085;
}
table.blueTable tr:nth-child(even) {
  background: #1a272d;
}
table.blueTable thead tr.title {
  background: #16a085;
  border-bottom: 1px solid #16a085;
  text-align: center;
}
table.blueTable thead tr.title th {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}
table.blueTable thead tr.title th a {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF !important;
  text-decoration: none;
}
table.blueTable thead tr.tools {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #1a272d;
  border-bottom: 1px solid #16a085;
}
table.blueTable thead tr.tools td {
  font-size: 14px;
}
table.blueTable thead tr.tools .links {
  text-align: right;
  margin: 5px 0px;
}
table.blueTable thead tr.tools .links a{
  background: #16a085;
  color: #FFFFFF;
  padding: 5px;
  transition-duration: 0.7s;
  text-decoration: none;
}
table.blueTable thead tr.tools .links a:hover{
  background: #f4a62a !important;
  color: #FFFFFF !important;
  padding: 5px;
  transition-duration: 0.7s;
  text-decoration: none;
}
/* Boutton du tableau */
form.color_input > input {
  background: #16a08500;
  color: white;
  border: none;
  transition-duration: 0.7s;
  padding: 10px
}
form.color_input > input:hover {
  background: #16a085;
  color: white;
  border: none;
  transition-duration: 0.7s;
  padding: 10px;
}
form.boutton_bas {
  padding: 10px 0px 0px 0px;
}
/* Longeur des colones */
tr {
  display: table-row;
}
tr.active {
  background-color: #594a31 !important;
}
th a:hover {
  background: #f4a62a !important;
  color: #FFFFFF !important;
  padding: 10px 5px;
}
.minsize {
 text-align: center;
}
.middlesize {
  max-width: 80px;
  min-width: 60px;
  overflow: hidden;
  text-align: center;
}
.middlesizeimg {
  max-width: 100px;
  text-align: center;
}
.largesize {
  max-width: 150px;
  min-width: 100px;
  text-align: center;
}
.xlargesize {
  max-width: 170px;
  min-width: 120px;
}
.custsize {
  max-width: 200px;
  min-width: 170px;
}
/* Outils tableau */
td.toolsbox {
  text-align: center;
}
td.toolsbox > input {
  background: #16a08500;
  color: white;
  border: none;
  transition-duration: 0.7s;
  padding: 10px;
  font-size: 14px;
}
td.toolsbox > input:hover {
  background: #16a085;
  color: white;
  border: none;
  transition-duration: 0.7s;
  padding: 10px;
  font-size: 14px;
}
td.toolsbox > a {
  background: #16a08500;
  color: white;
  border: none;
  transition-duration: 0.7s;
  padding: 10px;
  height: 30px;
  line-height: 38px;
  text-decoration: none;
  font-size: 14px;
}
td.toolsbox > a:hover {
  background: #16a085;
  color: white;
  border: none;
  transition-duration: 0.7s;
  padding: 10px;
  line-height: 38px;
  font-size: 14px;
}
td.toolsbox > form {
  display: inline;
}
/* Encore un truc planant - boite à outils volantes */
div.toolsbox {
  text-align: center;
  position: fixed;
  top: 6%;
  left: 3%;
  background-color: #1a272d;
  border: #16a085 1px solid;
  box-shadow: 0px 0px 40px #f4a62a;
  transition-duration: 0.7s;
}
div.toolsbox > input {
  background: #16a08500;
  color: white;
  border: none;
  transition-duration: 0.7s;
  padding: 10px;
  font-size: 14px;
}
div.toolsbox > input:hover {
  background: #16a085;
  color: white;
  border: none;
  transition-duration: 0.7s;
  padding: 10px;
  font-size: 14px;
}
div.toolsbox > a {
  background: #16a08500;
  color: white;
  border: none;
  transition-duration: 0.7s;
  padding: 10px;
  height: 30px;
  line-height: 38px;
  text-decoration: none;
  font-size: 14px;
}
div.toolsbox > a:hover {
  background: #16a085;
  color: white;
  border: none;
  transition-duration: 0.7s;
  padding: 10px;
  line-height: 38px;
  font-size: 14px;
}
div.toolsbox > form {
  display: inline;
}
input.entree {
  width: 100%;
  background-color: #1a272d;
  color: white;
}
select {
  width: 100%;
  background-color: #16a085;
  color: white;
}
p.centre_alt {
  margin-left: 50px;
  color: black;
  display: inline;
}

/* WPcontent - Interface du menu Wordpress */
#wpcontent {
  background-color: #273744 !important;
  color: #f4a62a !important;
  width: 100% !important;
  float: none !important;
}
#wpbody-content > p {
  text-align: center !important;
}
span#footer-thankyou, p#footer-upgrade {
  display: none !important;
}
