/* Affichage de la map pour trouver les coords */
#map_findcoord{
	width:80%;
	height:50vh;
	margin: auto;
	position: relative;
}
.tooltip{
    width: fit-content;
    padding: 5px;
    margin: 0;
    color: #fff;
    background: #0000004a;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    opacity: 1;
    position: unset;
    transition: all ease 0.5s ;
}

.tooltip:hover {
    background: rgba(255, 255, 255, 0.664);
    color: #000;
}
#firstInput,#lastInput{
    background: #fff;
    color: #000;
    padding: 15px;
    margin: 0;
    height: 15px;
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
}
#lastInput{
    top: 55px;
}
#content_copy{
    background: #00000094;
    position: absolute;
    top: 0;
    width: 30%;
    height: 175px;
    padding-left: 10px;
    border-radius: 0px 0px 10px 10px;
    text-align: start;
}
#mapErrorMsg{
	text-align:center;
	color:#fff;
    position: absolute;
    top: 0;
    z-index: 0;
}
#mapInfo{
    color: #fff;
}
#datamapsGoogle{
    height: 100%;
    width: 100%;
}